@charset "utf-8";
/* CSS Document */
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.34);
    font-size: 16px;
    border: 0px solid #303841 !important;
    font-weight: bold;
    position:fixed;
   width:100%;
   font-family: 'Raleway', sans-serif;
}
/*.navbar-fixed-top {
    top: -18px;
}*/
#logo2 {
		float: left;
		width: 300px;
		margin: 0;
		padding: 0 0 0 30px;
		color: #FFFFFF;
	}
	
	#logo2 h1, #logo2 p {
	}
	
	#logo2 h1 {
		line-height: 80px;
		text-transform: uppercase;
		font-size: 2.4em;
	}
	
	#logo2 h1 a {
		color: #FFFFFF;
		text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	}
	
	#logo2 p {
		margin: 0;
		padding: 0px 0 0 0px;
		letter-spacing: -1px;
		font: normal 18px Georgia, "Times New Roman", Times, serif;
		font-style: italic;
		color: #8E8E8E;
	}
	
	#logo2 p a {
		color: #8E8E8E;
	}
	
	#logo2 a {
		border: none;
		background: none;
		text-decoration: none;
		color: #000000;
	}
#menu2 {
		float: right;
		padding: 0em 2em;
		background: #5EB990 url(images/bg01.png) repeat;
		border-radius: 8px;
	}
	
	#menu2 ul {
		float: right;
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
	}
	
	#menu2 li {
		float: left;
	}
	
	#menu2 li span
	{
		text-align: center;
	}
	
	#menu2 a {
		display: block;
		line-height: 80px;
		margin-right: 1px;
		padding: 4px 20px 0px 20px;
		letter-spacing: 1px;
		text-decoration: none;
		text-align: center;
		text-shadow: 1px 1px 0px rgba(0,0,0,.2);
		text-transform: uppercase;
		font-size: 0.90em;
		font-weight: 300;
		color: #FFFFFF;
		border: none;
	}
	
	#menu2 .current_page_item a {
		padding-top: 0px;
		border-top: 4px solid #319065;
		text-decoration: none;
		color: #FFFFFF;
	}
	
	#menu2 .current_page_item a {
	}
	#logo2 h1 {
    line-height: 80px; 
    text-transform: uppercase;
    font-size: 2.4em;
}